commands:
  01_install_systemd_service:
    command: |
      echo "[Unit]
      Description=Laravel Queue Worker

      [Service]
      User=webapp
      Group=webapp
      Restart=always
      RestartSec=5
      StartLimitInterval=0
      ExecStartPre=/bin/sleep 30
      ExecStart=/usr/bin/php /var/www/html/artisan queue:work --daemon

      [Install]
      WantedBy=multi-user.target" | sudo tee /etc/systemd/system/laravel-worker.service
  02_reload_systemd:
    command: "sudo systemctl daemon-reload"
  03_enable_service:
    command: "sudo systemctl enable laravel-worker"
  04_start_service:
    command: "sudo systemctl restart laravel-worker"
