commands:
    01_enable_extra_repos:
        command: |
            dnf config-manager --set-enabled crb   # Enables additional repositories for required packages
            dnf update -y

    02_install_dependencies:
        command: |
            dnf install -y xorg-x11-server-Xvfb libXext libXrender fontconfig freetype urw-fonts libjpeg-turbo xorg-x11-fonts-75dpi xorg-x11-fonts-Type1

    03_download_wkhtmltopdf:
        command: |
            dnf install -y https://github.com/wkhtmltopdf/packaging/releases/download/0.12.6.1-3/wkhtmltox-0.12.6.1-3.almalinux9.$(uname -m).rpm
